{%extends "base.html" %}
{%block title %} Greenfield Local Hub — change password {% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for ('static', filename='auth/change_password.css') }}">
{% endblock %}

{% block content %}
    <div class="hero">
        <div class="green-header">
            <div class="left-side">
                <h1>Greenfield Local Hub</h1>
            </div>
            <nav class="top-nav">
                <a href="{{ url_for('customer.customer_dashboard') }}">Dashboard</a>
                <a href="{{ url_for('auth.logout') }}">Logout</a>
                <a href="{{ url_for('public.privacy') }}">Privacy</a>
                <a href="{{ url_for('customer.Farmers_Market') }}">Farmers Market</a>
            </nav>
        </div>

        <div class="change-password-card">
            <form method="POST" novalidate>
                {{ form.hidden_tag() }} <!-- CRSF token-->

                <h2>Change Password</h2>

                <div class="form-row">
                    {{ form.old_password.label}}
                    {{ form.old_password() }}
                </div>

                <div class="form-row">
                    {{ form.new_password.label}}
                    {{ form.new_password() }}
                </div>

                <div class="form-row">
                    {{ form.confirm.label}}
                    {{ form.confirm() }}
                </div>

                {{ form.submit() }}

                {% for field in form if field.name not in ["csrf_token", "submit"] %}
                {% for err in field.errors%}<p class="error">{{ err }}</p>{% endfor %}
                {% endfor %}
            </form>
        </div>
    </div>
{% endblock %}