{%extends "base.html" %}
{%block title %} Greenfield Local Hub — change password {% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for ('static', filename='auth/profile.css') }}">
{% endblock %}

{% block content %}
    <div class="hero">
        <div class="green-header">
             <div class="left-side">
                <h1>Greenfield Local Hub</h1>
            </div>
            <nav class="top-nav">
                <a href="{{ url_for('customer.customer_dashboard') }}">Dashboard</a>
                <a href="{{ url_for('auth.logout') }}">Logout</a>
                <a href="{{ url_for('public.privacy') }}">Privacy</a>
                <a href="{{ url_for('customer.Farmers_Market') }}">Farmers Market</a>
                <a href="{{ url_for('auth.change_password') }}">Change password</a>
            </nav>
        </div>

        <h2>Profile</h2>
        
        <form method="POST" action="{{ url_for('auth.profile') }}" class="form" novalidate>
            {{ form.hidden_tag() }}

            <label>{{ form.full_name.label }} {{ form.full_name() }}</label>
            {% for err in form.full_name.errors %}<p class="error">{{ err }}</p>{% endfor %}

            <label>{{ form.email.label }} {{ form.email() }}</label>
            {% for err in form.email.errors %}<p class="error">{{ err }}</p>{% endfor %}

            <label>{{ form.phone_number.label }} {{ form.phone_number() }}</label>
            {% for err in form.phone_number.errors %}<p class="error">{{ err }}</p>{% endfor %}

            {{ form.submit(class_="btn") }}
        </form>
            <hr>
        <section class="danger">
            <h3>Delete Account</h3>

            <p>This action is permanent. Your profile and data will be removed.</p>

            <form method="POST" action="{{ url_for('auth.profile') }}" class="form" novalidate>
                {{ delete_form.hidden_tag() }}

                <label>{{ delete_form.password.label }} {{ delete_form.password() }}</label>
                {% for err in delete_form.password.errors %}<p class="error">{{ err }}</p>{% endfor %}

                <label class="checkbox">
                    {{ delete_form.confirm() }} {{ delete_form.confirm.label }}
                </label>
                {% for err in delete_form.confirm.errors %}<p class="error">{{ err }}</p>{% endfor %}

                {{ delete_form.delete_submit(class_="button danger") }}
            </form>
        </section>
    </div>
{% endblock %}
