<!-- base.html -->
<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Greenfield Local Hub{% endblock %}</title>

        <!-- Google Font -->
        <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">

        <!-- Global CSS -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/global.css') }}">

        <!-- page specific css-->
        {% block extra_css %}{% endblock %}
    </head>
    <body>

        <!-- Flash messages -->
        <div class="flash-container">
            {% with msgs = get_flashed_messages(with_categories=True) %}
                {% if msgs %}
                    <ul class="flash" aria-live="polite">
                        {% for cat, msg in msgs %}
                            <li class="flash-{{ cat }} flash-message">{{ msg }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}
        </div>

        
        <!-- Main content -->
        <main class="container">
            {% block content %}{% endblock %}
        </main>

        <!-- Sienna Accessibility -->
        <script src="{{ url_for('static', filename='static\js\sienna.js') }}"></script>
        <script src="{{ url_for('static', filename='static\js\accessibility-init.js') }}"></script>
    </body>
</html>