{% extends "base.html" %}
{%block title %} Greenfield Local Hub — customer dashboard {% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for ('static', filename='/css/customer/customer_dashboard.css') }}">
{% endblock %}

{% block content %}
<div class="hero">
        <div class="yellow-header">
             <div class="left-side">
                <h1>Greenfield Local Hub</h1>
            </div>
            <nav class="top-nav">
            <a href="{{ url_for('customer.customer_dashboard') }}">Dashboard</a>
            <a href="{{ url_for('customer.Farmers_Market') }}">Farmers Market</a>
            <a href="{{ url_for('auth.profile') }}">Account</a>
            <a href="{{ url_for('public.about_us') }}">About Us</a>
            <a href="{{ url_for('auth.logout') }}">Logout</a>
            </nav>
        </div>

        <div class="dashboard-body">
            <!-- Welcome + CTA -->
             <div class="dashboard-header">
                <h2 class="welcome-msg">Welcome back, {{ current_user.full_name or 'Customer' }}</h2>
                <a class="CTA" href="{{ url_for('customer.Farmers_Market') }}">start new order</a>
             </div>
        </div>































        <div>
            <a href="{{ url_for('auth.profile') }}">profile</a>
            <a href="{{ url_for('auth.change_password') }}">change password</a>
        </div>
</div>
{% endblock %}